@model VehicleManager.Application.ViewModels.UserModels.ListUserCarsForList

@{
    ViewData["Title"] = "UserVehicles";
}

@{
    var tmpDataSuccess = TempData["tmpDataSuccess"];
    var tmpDataNoneSuccess = TempData["tmpDataNoneSuccess"];

    if (tmpDataSuccess != null)
    {
        <div class="alert alert-success" role="alert">
            @tmpDataSuccess
        </div>
    }
    else if (tmpDataNoneSuccess != null)
    {
        <div class="alert alert-danger" role="alert">
            @tmpDataNoneSuccess
        </div>
    }
}
<h2 class="text-left">Pojazdy użytkownika!</h2>

<p>
    <button asp-controller="Vehicle" asp-action="AddVehicle" class="btn btn-outline-dark">Dodaj nowy pojazd</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nazwa")
            </th>
            <th>
                @Html.DisplayName("Vin")
            </th>
            <th>
                @Html.DisplayName("Numer rejestracyjny")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserCars)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td> 
                <td>
                    @Html.ActionLink("Edytuj", "EditVehicle", "Vehicle", new { id = item.Id }, new { @class="btn btn-outline-dark"})
                    @Html.ActionLink("Szczegóły", "VehicleDetails", "Vehicle", new { id = item.Id }, new { @class = "btn btn-outline-dark" })
                    @Html.ActionLink("Usuń", "Delete", "Vehicle", new { id = item.Id }, new { @class = "btn btn-outline-dark" })
                    @Html.ActionLink("Statystyki", "VehicleStats", "Vehicle", new { id = item.Id }, new { @class = "btn btn-outline-dark" })
                </td>
            </tr>
        }
    </tbody>
</table>
