@model IEnumerable<VehicleManager.Application.ViewModels.UserModels.UserAdressesForListVm>

@{
    ViewData["Title"] = "UserAddresses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UserAddresses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Numer adresu
            </th>
            <th>
                Szczegóły
            </th>
            <th>
                Rodzaj adresu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        { i++;
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @item.Voivedoshipha <p></p>
                    @item.Districts <p></p>
                    @item.CityAndType <p></p>
                    @item.StreetAndBuildNumber <p></p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KindOfAddress)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Usuń", "Delete", "Address", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
