@model VehicleManager.Application.ViewModels.AddressVm.NewRefulingVm
@System.Globalization.CultureInfo.CurrentUICulture

@{
    ViewData["Title"] = "AddRefueling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Nowe tankowanie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddRefueling">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AmountOfFuel" class="control-label">Ilość jednostek paliwa</label>
                <input asp-for="AmountOfFuel" class="form-control" />
                <span asp-validation-for="AmountOfFuel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceForOneUnit" class="control-label">Cena paliwa za jednostkę</label>
                <input asp-for="PriceForOneUnit" class="form-control" />
                <span asp-validation-for="PriceForOneUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeterStatus" class="control-label">Aktualny stan licznika</label>
                <input asp-for="MeterStatus" class="form-control" />
                <span asp-validation-for="MeterStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetrolStationName" class="control-label">Nazwa stacji paliw</label>
                <input asp-for="PetrolStationName" class="form-control" />
                <span asp-validation-for="PetrolStationName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">Czy zatankowany do pełna?</label>
                <input class="form-check-input" asp-for="IsRefulingFull" /> @Html.DisplayNameFor(model => model.IsRefulingFull)
            </div>
            <div class="form-group">
                <label asp-for="Varnings" class="control-label">Uwagi/notatki</label>
                <input asp-for="Varnings" class="form-control" />
                <span asp-validation-for="Varnings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelForRefuelingId" class="control-label">Rodzaj paliwa</label>
                <select asp-for="FuelForRefuelingId" asp-items="@(new SelectList(Model.VehicleFuelTypes.FuelTypeForRefuelingForLists,"Id", "Name"))" class="custom-select">
                    <option value="">Wybierz rodzaj paliwa</option>
                </select>
                <span asp-validation-for="FuelForRefuelingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleId" class="control-label">Wybierz tankowany pojazd</label>
                <select asp-for="VehicleId" asp-items="@(new SelectList(Model.UserCars.UserCars,"Id", "Name"))" class="custom-select">
                    <option value="">Wybierz pojazd</option>
                </select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitOfFuelId" class="control-label">Jednostka paliwa</label>
                <select asp-for="UnitOfFuelId" asp-items="@(new SelectList(Model.UnitOfFuelForList.UnitOfFuelList,"Id", "Name"))" class="custom-select">
                    <option value="">Wybierz jednostkę paliwa</option>
                </select>
                <span asp-validation-for="UnitOfFuelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="VehicleHistory" asp-controller="Vehicle" class="btn btn-primary">Przejdź do historii zdarzeń</a>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Wróć do strony głównej</a>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}