@model VehicleManager.Application.ViewModels.Vehicle.DeleteVehicleVm

@{
    ViewData["Title"] = "Delete";
}
 
<h3><strong>Czy na pewno chcesz usunąć pojazd?</strong></h3>
<div> 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Usuń" class="btn btn-danger" /> 
        <button asp-action="UserVehicles" asp-controller="User" class="btn btn-success">Wróć do listy pojazdów!</button>
    </form>
</div>
