@model VehicleManager.Application.ViewModels.Vehicle.RefuelDetailsVm

@{
    ViewData["Title"] = "RemoveRefueling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>RemoveRefueling</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RefuelDetailsVm</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfFuel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmountOfFuel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuelPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuelPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceForOneUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceForOneUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeterStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeterStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PetrolStationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PetrolStationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsRefulingFull)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsRefulingFull)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Varnings)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Varnings)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>

    <form asp-action="RemoveRefueling">
        <input type="hidden" asp-for="VehicleId" class="form-control" />
        <input type="hidden" asp-for="CreateDate" class="form-control" />

        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
