@model VehicleManager.Application.ViewModels.Vehicle.VehicleDetailsVm

@{
    ViewData["Title"] = "VehicleDetails";
}

<h1>VehicleDetails</h1>
@ViewBag.NullVehicles
<div>
    <h4>VehicleDetailsVm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Millage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Millage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfFirstRegistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfFirstRegistration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRegisterdInPoland)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRegisterdInPoland)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnginePower)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnginePower)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermissibleGrossWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermissibleGrossWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearHelper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearHelper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleFuelTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleFuelTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleBrandNameId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleBrandNameId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleTypeId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
